aiofiles==24.1.0
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
attrs==25.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cloudinary==1.42.2
coloredlogs==15.0.1
contourpy==1.3.1
crispy-bootstrap5==2024.10
cryptography==44.0.2
cycler==0.12.1
dataclasses-json==0.6.7
Django==5.1.6
django-ckeditor==6.7.2
django-cloudinary-storage==0.3.0
django-crispy-forms==2.3
django-js-asset==3.1.2
eval_type_backport==0.2.2
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.5.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
humanfriendly==10.0
idna==3.10
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.8
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.43
langchain-text-splitters==0.3.6
langchain-unstructured==0.1.6
langsmith==0.3.13
marshmallow==3.26.1
matplotlib==3.10.1
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
numpy==2.2.3
ollama==0.4.7
onnxruntime==1.19.2
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.5
pgvector==0.3.6
pillow==11.1.0
propcache==0.3.0
protobuf==6.30.0
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
PyMuPDF==1.25.3
pyparsing==3.2.1
pypdf==5.3.1
pypdfium2==4.30.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.39
sqlparse==0.5.3
sympy==1.13.3
tenacity==9.0.0
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
unstructured-client==0.31.1
urllib3==2.3.0
yarl==1.18.3
zstandard==0.23.0
langchain_ollama
django-encrypted-model-fields==0.6.5
sendgrid==6.10.0
mailgun2==2.0.1
boto3==1.35.80
twilio==9.3.7
celery
redis
gunicorn==21.2.0
dj-database-url==2.1.0
faker==22.0.0
openai>=1.0.0
django-allauth
django-allauth[socialaccount]
